<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <form (submit)="onSubmit(form)" #form="ngForm" autocomplete="off">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="servicio.formData._id">
            <h1>Clientes</h1><hr>
            <div class="form-row">
            <div class="form-group col-md-4">
              <label for="idClie">Código</label>
              <input type="text" name="idClie" #idClie="ngModel" ngModel="servicio.formData.idClie" [(ngModel)]="servicio.clieU" placeholder="Código del Cliente" class="form-control" required>
              <div class="validation-error" *ngIf="idClie.invalid && idClie.touched">Campo requerido</div>
            </div>
            <div class="form-group col-md-4">
                <label for="cdrClie">Cédula o Rif</label>
                <input type="text" name="cdrClie" #cdrClie="ngModel" [(ngModel)]="servicio.formData.cdrClie" placeholder="Cédula o Rif del Cliente" class="form-control" required>
                <div class="validation-error" *ngIf="cdrClie.invalid && cdrClie.touched">Campo requerido</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="nomClie">Nombre</label>
              <input type="text" name="nomClie" #nomClie="ngModel" [(ngModel)]="servicio.formData.nomClie" placeholder="Nombre del Cliente" class="form-control" required>
              <div class="validation-error" *ngIf="nomClie.invalid && nomClie.touched">Campo requerido</div>
            </div>
            <div class="form-group col-md-4">
              <label for="cttClie">Contacto</label>
              <input type="text" name="cttClie" #cttClie="ngModel" [(ngModel)]="servicio.formData.cttClie" placeholder="Contacto Cliente" class="form-control" required>
              <div class="validation-error" *ngIf="cttClie.invalid && cttClie.touched">Campo requerido</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="dirClie">Dirección</label>
              <input type="text" name="dirClie" #dirClie="ngModel" [(ngModel)]="servicio.formData.dirClie" placeholder="Dirección del Cliente" class="form-control" required>
              <div class="validation-error" *ngIf="dirClie.invalid && dirClie.touched">Campo requerido</div>
            </div>
            <div class="form-group col-md-4">
              <label for="tlfClie">Teléfono</label>
              <input type="text" name="tlfClie" #tlfClie="ngModel" [(ngModel)]="servicio.formData.tlfClie" placeholder="Teléfono del Cliente" class="form-control" required>
              <div class="validation-error" *ngIf="tlfClie.invalid && tlfClie.touched">Campo requerido</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="emaClie">Email</label>
              <input type="email" name="emaClie" #emaClie="ngModel" [(ngModel)]="servicio.formData.emaClie" placeholder="Email del Cliente" class="form-control" required>
              <div class="validation-error" *ngIf="emaClie.invalid && emaClie.touched">Campo requerido</div>
            </div>
            <div class="form-group col-md-1">
                <label for="staClie">Estatus &nbsp;</label>
                <input type="checkbox" [checked]="staClie" name="staClie" #staClie="ngModel" [(ngModel)]="servicio.formData.staClie">
              </div>
            </div>
              <div class="form-group-addon">
                  <div class="row">
                    <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-block col-md-4">
                      {{ TextoBtn }}
                    </button>
                    <button [disabled]="form.invalid" class="btn btn-primary btn-block col-md-4" (click)="refresca()">
                      Limpiar
                    </button>
              </div>
              </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <table class="table">
        <thead>
          <tr class="prim">
            <th>Nombre</th>
            <th>Contacto</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th><i class="fa fa-trash"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let clie of servicio.clieM" (click)="getClie(clie._id)">
            <td> {{clie.nomClie}} </td>
            <td> {{clie.cttClie}} </td>
            <td> {{clie.dirClie}} </td>
            <td> {{clie.tlfClie}} </td>
            <td>
              <button class="btn btn-danger" (click)="eliClie(clie._id)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
