
<div class="card">
  <div class="card-body">
    <form (submit)="onSubmit(form)" #form="ngForm" autocomplete="off">
      <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="servicio.formData._id">
      <h2>Compras</h2><hr>
      <div class="form-group">
        <label for="idCpra">Código</label>
        <input type="text" name="idCpra" #idCpra="ngModel" [(ngModel)]="servicio.formData.idCpra" placeholder="Código de Cpra" class="form-control" required>
        <div class="validation-error" *ngIf="idCpra.invalid && idCpra.touched">Campo requerido</div>
      </div>
      <div class="form-group">
        <label for="idProv">Proveedor</label>
        <select name="idProv" #idProv="ngModel" [(ngModel)]="servicio.formData.idProv" class="form-control">
          <option *ngFor="let prov of provService.provM" value={{prov.idProv}}>{{prov.idProv}} - {{prov.nomProv}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="fecCpra">Fecha</label>
        <input type="date" name="fecCpra" #fecCpra="ngModel" [(ngModel)]="servicio.formData.fecCpra" class="form-control" placeholder="dd-MM-yyyy" min="2018-01-01" max="2023-12-31" required />
      </div>
      <div class="form-group">
        <label for="mtoCpra">Monto</label>
        <input type="text" name="mtoCpra" #mtoCpra="ngModel" [(ngModel)]="servicio.formData.mtoCpra" placeholder="Monto de Cpra" class="form-control" required>
        <div class="validation-error" *ngIf="mtoCpra.invalid && mtoCpra.touched">Campo requerido</div>
      </div>
      <div class="form-group">
        <label for="staCpra">Estatus &nbsp;</label>
        <input type="checkbox" [checked]="staCpra" name="staCpra" #staCpra="ngModel" [(ngModel)]="servicio.formData.staCpra">
      </div>
      <div class="form-group-addon">
          <div class="row">
            <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-block col-md-4">
              {{ TextoBtn }}
            </button>
            <button [disabled]="form.invalid" class="btn btn-primary btn-block col-md-4" (click)="refresca()">
              Limpiar
            </button>
      </div>
      </div>
    </form>
  </div>
</div>
  <table class="table">
    <thead>
      <tr class="prim">
        <th>Codigo</th>
        <th>Proveedor</th>
        <th>Fecha</th>
        <th>Monto</th>
        <th>Estatus</th>
        <th><i class="fa fa-trash" aria-hidden="true"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cpra of servicio.cpraM">
        <td> {{cpra.idCpra}} </td>
        <td> {{cpra.idProv}} </td>
        <td> {{cpra.fecCpra}} </td>
        <td> {{cpra.mtoCpra}} </td>
        <td>
          <input type="checkbox" [checked]="cpra.staCpra">
        </td>
        <td>
          <button class="btn btn-danger" (click)="eliCpra(cpra._id)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>