<div class="container">
    <div class="row">
<div class="col-md-5">
<div class="card">
  <div class="card-body">
    <form (submit)="onSubmit(form)" #form="ngForm" autocomplete="off">
        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="servicio.formData._id">
        <h2>Estantes</h2><hr>
      <div class="form-group">
        <label for="idEst">Código</label>
        <input type="text" name="idEst" #idEst="ngModel" ngModel="servicio.formData.idEst" [(ngModel)]="servicio.estU" placeholder="Código del Estante" class="form-control" required>
        <div class="validation-error" *ngIf="idEst.invalid && idEst.touched">Campo requerido</div>
      </div>
      <div class="form-group">
          <label for="idAlm">Almacen</label>
          <select name="idAlm" #idAlm="ngModel" [(ngModel)]="servicio.formData.idAlm" class="form-control">
            <option ng-selected="idAlm">Seleccione</option>
            <option *ngFor="let amcn of almacenService.almacenM" value={{amcn.idAlm}}>{{amcn.idAlm}} - {{amcn.dscAlm}}</option>
          </select>
      </div>
      <div class="form-group">
        <label for="dscEst">Descripción</label>
        <input type="text" name="dscEst" #dscEst="ngModel" [(ngModel)]="servicio.formData.dscEst" placeholder="Descripción del Estante" class="form-control" required>
        <div class="validation-error" *ngIf="dscEst.invalid && dscEst.touched">Campo requerido</div>
      </div>

      <div class="form-group">
          <label for="staEst">Estatus &nbsp;</label>
          <input type="checkbox" [checked]="staEst" name="staEst" #staEst="ngModel" [(ngModel)]="servicio.formData.staEst">
        </div>
        <div class="form-group-addon">
            <div class="row">
              <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-block col-md-4">
                {{ TextoBtn }}
              </button>
              <button [disabled]="form.invalid" class="btn btn-primary btn-block col-md-4" (click)="refresca()">
                Limpiar
              </button>
        </div>
        </div>
    </form>
  </div>
</div>
</div>
<div class="col-md-7">
<table class="table">
  <thead>
    <tr class="prim">
      <th>Codigo</th>
      <th>Almacen</th>
      <th>Descripción</th>
      <th>Estatus</th>
      <th><i class="fa fa-trash"></i></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let estante of servicio.estanteM" (click)="getEstante(estante._id)" title="Presione con el mouse para editar">
      <td> {{estante.idEst}} </td>
      <td> {{estante.idAlm}} </td>
      <td> {{estante.dscEst}} </td>
      <td>
        <input type="checkbox" [checked]="estante.staEst">
      </td>
      <td>
        <button class="btn btn-danger" (click)="eliEstante(estante._id)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>