.table .prim th:nth-child(7) {
    border-radius: 0px 10px 0px 0px;
}
/******************* Ultima fila *******************/
.table tr:nth-last-child() td:nth-child(7) {
    border-radius: 0px 10px 0px 0px;
}