
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="card">
  <div class="card-body">
    <form (submit)="onSubmit(form)" #form="ngForm" autocomplete="off">
      <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="servicio.formData._id">
      <h2>Cuentas X Cobrar</h2><hr>

      <div class="form-group">
        <label for="idCxc">Código</label>
        <input type="text" name="idCxc" #idCxc="ngModel" ngModel="servicio.formData.idCxc" [(ngModel)]="servicio.cxcU" placeholder="Código de Cuentas X Cobrar" class="form-control" required>
        <div class="validation-error" *ngIf="idCxc.invalid && idCxc.touched">Campo requerido</div>
      </div>

      <div class="form-group">
        <label for="idClie">No. Cliente</label>
        <select name="idClie" #idClie="ngModel" [(ngModel)]="servicio.formData.idClie" class="form-control">
          <option *ngFor="let cliente of clieService.clieM" value={{cliente.idClie}}>{{cliente.idClie}} - {{cliente.nomClie}}</option>
        </select>
      </div>

      <div class="form-group">
          <label for="fecCxc">Fecha</label>
          <input type="date" name="fecCxc" #fecCxc="ngModel" [(ngModel)]="servicio.formData.fecCxc" class="form-control" placeholder="dd-MM-yyyy" min="2018-01-01" max="2023-12-31" required />
      </div>

      <div class="form-group">
        <label for="nfcCxc">No. de Factura</label>
        <input type="text" name="nfcCxc" #nfcCxc="ngModel" [(ngModel)]="servicio.formData.nfcCxc" placeholder="No. de Factura del Movimiento" class="form-control" required>
        <div class="validation-error" *ngIf="nfcCxc.invalid && nfcCxc.touched">Campo requerido</div>
      </div>

      <div class="form-group">
        <label for="mtoCxc">Monto</label>
        <input type="text" name="mtoCxc" #mtoCxc="ngModel" [(ngModel)]="servicio.formData.mtoCxc" placeholder="Monto del Movimiento" class="form-control" required>
        <div class="validation-error" *ngIf="mtoCxc.invalid && mtoCxc.touched">Campo requerido</div>
      </div>

      <div class="form-group">
        <label for="staCxc">Estatus &nbsp;</label>
        <input type="checkbox" [checked]="staCxc" name="staCxc" #staCxc="ngModel" [(ngModel)]="servicio.formData.staCxc">
      </div>
      <div class="form-group-addon">
          <div class="row">
            <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-block col-md-4">
              {{ TextoBtn }}
            </button>
            <button [disabled]="form.invalid" class="btn btn-primary btn-block col-md-4" (click)="refresca()">
              Limpiar
            </button>
      </div>
      </div>
    </form>
  </div>
</div>
</div>
<div class="col-md-7">
  <table class="table">
    <thead>
      <tr class="prim">
        <th>Codigo</th>
        <th>Cliente</th>
        <th>Fecha</th>
        <th>Factura</th>
        <th>Monto</th>
        <th>Estatus</th>
        <th><i class="fa fa-trash"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cxc of servicio.cxcM" (click)="getCxc(cxc._id)" title="Presione con el mouse para editar">
        <td> {{cxc.idCxc}} </td>
        <td> {{cxc.idClie}} </td>
        <td> {{ cxc.fecCxc  | date:'dd/MM/yyyy' }} </td>
        <td> {{cxc.nfcCxc}} </td>
        <td> {{cxc.mtoCxc}} </td>
        <td>
          <input type="checkbox" [checked]="cxc.staCxc">
        </td>
        <td>
          <button class="btn btn-danger" (click)="eliCxc(cxc._id)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>