
<div class="card">
  <div class="card-body">
    <form (submit)="onSubmit(form)" #form="ngForm" autocomplete="off">
      <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="servicio.formData._id">
      <h2>Facturación</h2><hr>
      <div class="form-group">
        <div class="row">
          <div class="form-group col-md-11">
            <div class="col-md-2 lfact">
              <label for="idFact">Nº Fact.:</label>
            </div>
            <div class="col-md-4 ifact">
              <input type="text" name="idFact" #idFact="ngModel" ngModel="servicio.formData.idFact" [(ngModel)]="servicio.factU" class="form-control" readonly="readonly" required>
              <div class="validation-error" *ngIf="idFact.invalid && idFact.touched">Campo requerido</div>
            </div>
          </div>
          <div class="form-group col-md-11">
            <div class="col-md-2 lfact">
              <label for="fecFact">Fecha:</label>
            </div>
            <div class="col-md-4 ifact">
              <input type="date" name="fecFact" #idFact="ngModel" [(ngModel)]="servicio.formData.fecFact" class="form-control" placeholder="dd-MM-yyyy" min="2018-01-01" max="2023-12-31" required />
            </div>
          </div>
        </div>
      </div>
      
      <hr>
      <div class="row">
        <div class="form-group col-md-2">
          <label for="idClie">Cliente</label>
          <select name="idClie" #idClie="ngModel" [(ngModel)]="servicio.formData.idClie" class="form-control" (change)="getClie(idClie.value)">
            <option *ngFor="let clie of clieService.clieM" value={{clie._id}}>{{clie.idClie}} - {{clie.nomClie}}</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="nomClie">Nombre</label>
          <input type="text" disabled="disabled" name="nomClie" [(ngModel)]="clieService.cliet.nomClie" class="form-control" />
        </div>
        <div class="form-group col-md-6">
          <label for="direccion">Dirección</label>
          <input type="text" disabled="disabled" name="direccion" [(ngModel)]="clieService.cliet.dirClie" class="form-control" />
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="form-group col-md-2">
          <label for="idProd">Id Prod.</label>
          <select name="idProd" #idProd="ngModel" [(ngModel)]="newDF.idProd" class="form-control" (change)="getProd(idProd.value)" required>
            <option *ngFor="let prod of prodServicio.prodM" value={{prod.idProd}}>{{prod.idProd}} - {{prod.nomProd}}</option>
          </select>
        </div>

        <div class="form-group col-md-2">
          <label for="nomProd">Producto</label>
          <input type="text" disabled="disabled" name="nomProd" [(ngModel)]="prodServicio.prodt.nomProd" class="form-control" />
        </div>

        <div class="form-group col-md-2">
          <label for="dscProd">Descripción</label>
          <input type="text" disabled="disabled" name="dscProd" [(ngModel)]="prodServicio.prodt.dscProd" class="form-control" />
        </div>

        <div class="form-group col-md-2">
          <label for="precDetfact">Precio</label>
          <input type="number" name="precDetfact" #precDetfact="ngModel" [(ngModel)]="newDF.precDetfact" class="form-control" required/>
        </div>
  
        <div class="form-group col-md-2">
          <label for="cantDetfact">Cantidad</label>
          <input type="number" name="cantDetfact" #cantDetfact="ngModel" [(ngModel)]="newDF.cantDetfact" max={{newDF.cantDetfact}} class="form-control" required/>
        </div>
        <div class="form-group MiBtn col-md-1">
          <button type="button" class="btn btn-primary" (click)="addFieldValue()" *ngIf="idProd.valid && precDetfact.valid && cantDetfact.valid">
            <i class="fa fa-download"></i>
          </button>
        </div>
    
      </div>

      <hr class="somb">


      <table class="table" *ngIf="DetfactMt.length>0">
          <thead>
            <tr class="prim">
              <th>IdDet</th>
              <th>IdFact</th>
              <th>IdProd</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Monto</th>
              <th><i class="fa fa-trash" aria-hidden="true"></i></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fact of DetfactMt">
              <td> {{ fact.idDetfact }} </td>
              <td> {{ fact.idFact }} </td>
              <td> {{ fact.idProd }} </td>
              <td> {{ fact.precDetfact }} </td>
              <td> {{ fact.cantDetfact }} </td>
              <td> {{ fact.mntoDetfact }} </td>
              <td>
                <button class="btn btn-danger" (click)="deleteFieldValue(fact.idDetfact)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>


      <div class="form-group">
        <label for="mtoFact">Monto</label>
        <input type="text" name="mtoFact" #mtoFact="ngModel" [(ngModel)]="mTotFact" placeholder="Monto de Venta" class="form-control" required>
        <div class="validation-error" *ngIf="mtoFact.invalid && mtoFact.touched">Campo requerido</div>
      </div>
      <div class="form-group">
        <label for="staFact">Estatus &nbsp;</label>
        <input type="checkbox" [checked]="staFact" name="staFact" #staFact="ngModel" [(ngModel)]="servicio.formData.staFact">
      </div>
      <div class="form-group-addon MiBtn">
        <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-block">
          Enviar
        </button>
      </div>
    </form>
  </div>
</div>
  