<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar><img class="logo" src="../../assets/img/logoif.png"></mat-toolbar>
    <mat-nav-list>
      <h6 class="titMnu">Menú Principal</h6>
      <div class="cont">
        <a routerLink="inicio" routerLinkActive="active">Inicio</a>
      </div>
      <h6 class="titMnu">Mercancía</h6>
      <div class="cont">
        <a routerLink="prods" routerLinkActive="active">Productos</a>
        <a routerLink="almacens" routerLinkActive="active">Almacenes</a>
        <a routerLink="estantes" routerLinkActive="active">Estantes</a>
      </div>
      <h6 class="titMnu">Compras</h6>
      <div class="cont">
        <a routerLink="cpras" routerLinkActive="active">Compras</a>
        <a routerLink="provs" routerLinkActive="active">Proveedores</a>
        <a routerLink="cxps" routerLinkActive="active">Cuentas X pagar</a>
      </div>
      <h6 class="titMnu">Facturación</h6>
      <div class="cont">
        <a routerLink="facts" routerLinkActive="active">Facturar</a>
        <a routerLink="clies" routerLinkActive="active">Clientes</a>
        <a routerLink="cxcs" routerLinkActive="active">Cuentas X cobrar</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon"><img class="logoi" src="../../assets/img/logoif.png"></mat-icon>
      </button>
      <span style="text-align:center; width:100%;">Inventario</span>
    </mat-toolbar>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>