<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="card">
  <div class="card-body">
    <form (submit)="onSubmit(form)" #form="ngForm" autocomplete="off">
        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="servicio.formData._id">
      <h2>Proveedores</h2><hr>

      <div class="form-group">
        <label for="idProv">Código</label>
        <input type="text" name="idProv" #idProv="ngModel" ngModel="servicio.formData.idProv" [(ngModel)]="servicio.provU" placeholder="Código del Proveedor" class="form-control" required>
        <div class="validation-error" *ngIf="idProv.invalid && idProv.touched">Campo requerido</div>
      </div>

      <div class="form-group">
          <label for="cdrProv">Cédula o Rif</label>
          <input type="text" name="cdrProv" #cdrProv="ngModel" [(ngModel)]="servicio.formData.cdrProv" placeholder="Cédula o Rif del Proveedor" class="form-control" required>
          <div class="validation-error" *ngIf="cdrProv.invalid && cdrProv.touched">Campo requerido</div>
      </div>

      <div class="form-group">
        <label for="nomProv">Nombre</label>
        <input type="text" name="nomProv" #nomProv="ngModel" [(ngModel)]="servicio.formData.nomProv" placeholder="Nombre del Proveedor" class="form-control" required>
        <div class="validation-error" *ngIf="nomProv.invalid && nomProv.touched">Campo requerido</div>
      </div>

      <div class="form-group">
        <label for="cttProv">Contacto</label>
        <input type="text" name="cttProv" #cttProv="ngModel" [(ngModel)]="servicio.formData.cttProv" placeholder="Contacto Proveedor" class="form-control" required>
        <div class="validation-error" *ngIf="cttProv.invalid && cttProv.touched">Campo requerido</div>
      </div>

      <div class="form-group">
        <label for="dirProv">Dirección</label>
        <input type="text" name="dirProv" #dirProv="ngModel" [(ngModel)]="servicio.formData.dirProv" placeholder="Dirección del Proveedor" class="form-control" required>
        <div class="validation-error" *ngIf="dirProv.invalid && dirProv.touched">Campo requerido</div>
      </div>

      <div class="form-group">
        <label for="tlfProv">Teléfono</label>
        <input type="text" name="tlfProv" #tlfProv="ngModel" [(ngModel)]="servicio.formData.tlfProv" placeholder="Teléfono del Proveedor" class="form-control" required>
        <div class="validation-error" *ngIf="tlfProv.invalid && tlfProv.touched">Campo requerido</div>
      </div>

      <div class="form-group">
        <label for="emaProv">Email</label>
        <input type="text" name="emaProv" #emaProv="ngModel" [(ngModel)]="servicio.formData.emaProv" placeholder="Email del Proveedor" class="form-control" required>
        <div class="validation-error" *ngIf="emaProv.invalid && emaProv.touched">Campo requerido</div>
      </div>

      <div class="form-group">
        <label for="staProv">Estatus &nbsp;</label>
        <input type="checkbox" [checked]="staProv" name="staProv" #staProv="ngModel" [(ngModel)]="servicio.formData.staProv">
      </div>
      <div class="form-group-addon">
        <div class="row">
          <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-block col-md-4">
            {{ TextoBtn }}
          </button>
          <button [disabled]="form.invalid" class="btn btn-primary btn-block col-md-4" (click)="refresca()">
            Limpiar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
<div class="col-md-7">
<table class="table">
  <thead>
    <tr class="prim">
      <th>Nombre</th>
      <th>Contacto</th>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th>Estatus</th>
      <th><i class="fa fa-trash"></i></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prov of servicio.provM" (click)="getProv(prov._id)" title="Presione con el mouse para editar">
      <td> {{prov.nomProv}} </td>
      <td> {{prov.cttProv}} </td>
      <td> {{prov.dirProv}} </td>
      <td> {{prov.tlfProv}} </td>
      <td>
        <input type="checkbox" [checked]="prov.staProv">
      </td>
      <td>
        <button class="btn btn-danger" (click)="eliProv(prov._id)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>