<div class="container">
<div class="row">
<div class="col-md-6">
<div class="card">
  <div class="card-body">
    <form (submit)="onSubmit(form)" #form="ngForm" autocomplete="off">
      <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="servicio.formData._id">
      <h2>Productos</h2><hr>
      <div class="form-row">
        <div class="form-group col-md-4">
        <label for="idProd">Código</label>
        <input type="text" name="idProd" #idProd="ngModel" [(ngModel)]="servicio.formData.idProd" placeholder="Código del Producto" class="form-control" required>
        <div class="validation-error" *ngIf="idProd.invalid && idProd.touched">Campo requerido</div>
      </div>
      <div class="form-group col-md-7">
          <label for="nomProd">Producto</label>
          <input type="text" name="nomProd" #nomProd="ngModel" [(ngModel)]="servicio.formData.nomProd" placeholder="Nombre del Producto" class="form-control" required>
          <div class="validation-error" *ngIf="nomProd.invalid && nomProd.touched">Campo requerido</div>
      </div>
    </div>
      <div class="row">
        <div class="form-group col-md-11">
          <label for="dscProd">Descripción</label>
          <input type="text" name="dscProd" #dscProd="ngModel" [(ngModel)]="servicio.formData.dscProd" placeholder="Descripción del Producto" class="form-control" required>
          <div class="validation-error" *ngIf="dscProd.invalid && dscProd.touched">Campo requerido</div>
        </div>
      </div>
        <div class="form-row">
        <div class="form-group col-md-3">
          <label for="minProd">Stop Mín</label>
          <input type="number" name="minProd" #minProd="ngModel" [(ngModel)]="servicio.formData.minProd" placeholder="Stop Mínimo del Producto" class="form-control" required>
          <div class="validation-error" *ngIf="minProd.invalid && minProd.touched">Campo requerido</div>
        </div>
        <div class="form-group col-md-4">
          <label for="maxProd">Stop Máx</label>
          <input type="number" name="maxProd" #maxProd="ngModel" [(ngModel)]="servicio.formData.maxProd" placeholder="Stop Máximo del Producto" class="form-control" required>
          <div class="validation-error" *ngIf="maxProd.invalid && maxProd.touched">Campo requerido</div>
        </div>
        <div class="form-group col-md-4">
          <label for="cstProd">Costo</label>
          <input type="number" name="cstProd" #cstProd="ngModel" [(ngModel)]="servicio.formData.cstProd" placeholder="Costo del Producto" class="form-control" required>
          <div class="validation-error" *ngIf="cstProd.invalid && cstProd.touched">Campo requerido</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="cntProd">Cantidad</label>
          <input type="number" name="cntProd" #cntProd="ngModel" [(ngModel)]="servicio.formData.cntProd" placeholder="Cantidad del Producto" class="form-control" required>
          <div class="validation-error" *ngIf="cntProd.invalid && cntProd.touched">Campo requerido</div>
        </div>
        <div class="form-group col-md-3">
          <label for="prcProd">Precio</label>
          <input type="number" name="prcProd" #prcProd="ngModel" [(ngModel)]="servicio.formData.prcProd" placeholder="Precio del Producto" class="form-control" required>
          <div class="validation-error" *ngIf="prcProd.invalid && prcProd.touched">Campo requerido</div>
        </div>
              <div class="form-group col-md-3">
          <label for="idEst">Estante</label>
          <select name="idEst" #idEst="ngModel" [(ngModel)]="servicio.formData.idEst" class="form-control">
            <option *ngFor="let estnt of eservicio.estanteM" value={{estnt.idEst}}>{{estnt.idEst}} - {{estnt.dscEst}}</option>
          </select>
        </div>
            <div class="form-group col-md-1">
          <label for="staProd">Estatus &nbsp;</label>
          <input type="checkbox" [checked]="staProd" name="staProd" #staProd="ngModel" [(ngModel)]="servicio.formData.staProd">
        </div>
    </div>
    <div class="form-group-addon">
      <div class="row">
        <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-block col-md-4">
          {{ TextoBtn }}
        </button>
        <button [disabled]="form.invalid" class="btn btn-primary btn-block col-md-4" (click)="refresca()">
          Limpiar
        </button>
      </div>
    </div>
    </form>
  </div>
</div>
</div>
<div class="col-md-6">
  <table class="table table-bordered table-hover">
    <thead>
      <tr class="prim">
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Costo</th>
        <th>Precio</th>
        <th><i class="fa fa-trash"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of servicio.prodM" (click)="getProd(prod._id)">
        <td> {{prod.nomProd}} </td>
        <td> {{prod.cntProd}} </td>
        <td> {{prod.cstProd}} </td>
        <td> {{prod.prcProd}} </td>
        <td>
          <div class="col-md-8">
          <button class="btn btn-danger" (click)="eliProd(prod._id)">
              <i class="fa fa-trash"></i>
          </button>
        </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>