/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
/** responsive design **/
html,body {
    min-width: 601px;
}
*:not(i),*:not(i)::before, *:not(i)::after, *:not(i):before, *:not(i):after {
    box-sizing:         border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -o-box-sizing:      border-box;
    -ms-box-sizing:     border-box;
    outline:            none;
    font-family:        'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border:             0;
    z-index:            2;
    font-display:       block;
    margin:             auto;
    padding:            0px;
}
.sidenav-container {
    height: 100%;
  }
  mat-sidenav-content {
      margin-left: 2%;
  }
  .sidenav {
    width: 200px;
  }
  .sidenav .mat-toolbar {
    background: inherit;
  }
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .mat-toolbar span {
    text-align: center;
  }
  mat-sidenav{
    max-width: 150px;
  }
  .titMnu {
    padding: 0px 0px 4px 5px;
    background-color: rgba(130, 165, 180, .75);
    color: rgba(255,255,255,1);
    margin: 1px 0px 0px 0px;
    max-height: 30px;
    line-height: 1.5;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(0,0,0,.95);
  }
  a {
    line-height: 2;
    margin: 0px 0px 0px 10px;
    padding: 0px 0px 5px 0px;
    height: 20px;
    max-height: 20px;
    display: block;
  }
  .cont {
    background-color: rgba(220,220,220,.5);
    display: block;
    width: 100%;
    padding: 0pt 0px 6% 0px;
    margin: 0px 0px 1px 0px;
    border-bottom: 1px solid rgba(0,0,0,.25);
    display: none;
    transition:         all 0.95s;
    -moz-transition:    all 0.95s;
    -o-transition:      all 0.95s;
    -webkit-transition: all 0.95s;
  }
  mat-nav-list {
    padding-top: 0px;
    background-color: rgba(200, 235, 255, 0.5);
  }
  mat-toolbar {
    background-color: rgba(150, 185, 200, 1);
  }
  mat-toolbar span {
    background-color: rgba(150, 185, 200, 1);
    color: rgba(255,255,255,1);
    font-size: 140%;
    text-shadow: 1px 1px 1px rgba(0,0,0,1);
  }
  .logo {
    width: 35%;
  }
  .logoi {
    height: 150%;
  }

.titMnu {
    font: bold 100% georgia;
}
h1,h2,h3,h4,h5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.container {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    padding: 1% auto;
    vertical-align: top;
}
.card {
    width: 100%;
    min-width: 400px;
    border-radius: 15px;
    margin: 2% auto;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,.5);
    vertical-align: top;
}
.card-body {
    border-radius: 15px;
    width: 100%;
    margin: 2% auto;
    text-align: center;
    vertical-align: top;
}
.row, .col-md-7, .table {
    vertical-align: top;
}
.col-md-5 {
    min-width: 350px;
}
.MiBtn {
    padding-top: 5%;
    margin-top: 5%;
    max-width: 10px;
}
.MiBtn button {
    margin-top: 30%;
}
::placeholder,
::-webkit-input-placeholder,  /* Chrome, Opera ySafari */
::-moz-placeholder,  /* Firefox 19+ */
:-ms-input-placeholder,  /* IE 10+ y Edge */
:-moz-placeholder {
    color: #EEE;
}
::-webkit-input-placeholder { color: #EEE; } 
:-moz-placeholder { /* Firefox 18- */ color: #EEE; } 
::-moz-placeholder { /* Firefox 19+ */ color: #EEE; } 
:-ms-input-placeholder { color: #EEE; }

.MiBtn button {
    box-shadow: 1px 1px 3px 2px rgba(0,0,0,.5);
    cursor: pointer;
    transition: all .95s;
    -moz-transition: all .95s;
    -webkit-transition: all .95s;
}
.MiBtn button:hover,.MiBtn button:focus {
    box-shadow: 0px 0px 1px 3px rgba(0,0,0,.25);
    color: #00F;
    background-color: #FFF;
    font-weight: bold;
}
form {
    border-radius: 15px;
    width: 100%;
    margin: 2% auto .5% auto;
    padding: 1%;
}
.form-group {
    height: auto;
    min-height: 10px;
    position: relative;
    display: inline-block;
    padding: 0px;
    margin: 0px .05%;
    line-height: .25;
    width: 100%;
}
.g2 {
    width: 49%;
}
.g3 {
    width: 32.25%;
}
.g4 {
    width: 24%;
}
.form-group label {
    text-align: left;
    padding-top: 1.5%;
    padding-bottom: 0px;
}
.form-group .form-control {
    font-size: 90%;
    font-family:    tahoma, Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.form-group * {
    float: left;
}
.form-group-addon {
    width: 100%;
    min-height: 20px;
    display: table;
    position: relative;
    text-align: center;
}
.form-group-addon button {
    display: block;
    margin: 5px auto 0px;
}
.table tr hover {
    cursor: pointer;
}
input ng-touched ng-invalid {
    border-color: #FF4545;
}
label {
    font-size: 90%;
}
.lfact {
    margin: 0px;
    padding: 0px;
    margin-top: 3%;
    display: block;
    text-align: right;
}
.lfact label {
    text-align: right;
}
.somb {
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,.2);
}
.ifact {
    margin-left: 0px;
    padding-left: 0px;
    border: 0px solid #000;
}
div.validation-error {
    width: 30%;
    margin-top: .25rem;
    font-size: 80%;
    line-height: 1;
    margin-left: 10%;
    color: #FF4545;
    border: 0px solid #000;
}
.table {
    border-radius: 5px;
    border: 0px solid #000;
}
.table * {
    font-family:    tahoma, Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    border: 0px solid #000;
    transition: all .95s;
    -moz-transition: all .95s;
    -webkit-transition: all .95s;

}
.table thead, .table tbody, .table tr, .table tr td, .table tr th {
    max-height: 10px;
    padding:    0px 5px;
    margin:     0px;
    border: 0px solid rgba(0,0,0,.2);
}
.table tr th, .table tr td {
    border: 0px solid rgba(0,0,0,.2);
}
.table tr th {
    cursor: default;
}
.table tbody tr td {
    text-align: center;
}
.table tr:nth-child(2n) {
    background-color: rgba(188, 200, 225, .25);
}
.table tr:nth-child(odd) {
    background-color: rgba(188, 200, 225, .45);
}
.table th {
    background-color: rgba(100, 150, 170, .95);
    line-height: 2;
}
/******************* Primera fila *******************/
.table .prim {
    background-color: rgba(100, 130, 155, .95);
    border-radius: 10px 0px 0px 10px;
    color: rgba(255, 255, 255, .75);
    font-weight: bold;
    text-align: center;
}
.table tr:nth-last-child() {
    background-color: rgba(100, 130, 155, .5);
    border-radius: 0px 10px 10px 0px;
}
.table tr:nth-last-child() td:nth-child(1) {
    border-radius: 0px 0px 10px 0px;
}
.table .prim th:nth-child(1) {
    border-radius: 10px 0px 0px 0px;
}
input[type="checkbox"] {
    margin: 10px 0px 0px 0px;
}
button.btn {
    transition:         all .95s;
    -moz-transition:    all .95s;
    -o-transition:      all .95s;
    -webkit-transition: all .95s;
}
button.btn:disabled {
    opacity: .5;
    font-weight:normal;
}
td .btn-danger, td .btn-info {
    height: 30px;
    min-width: 30px;
    width: 40%;
    padding: 0px;
    margin: 0px 1%;
    margin-bottom: 5%;
    border-radius: 3px;
}
@media (min-width: 1950px) {
    * { font-size: 12pt; }
    .container { margin-left: 0%; min-width: 100%;}
    .logo {width: 34%;}
}
@media (min-width: 1550px) and (max-width: 1949px) {
    * { font-size: 12pt; }
    .container { margin-left: 5%; min-width: 95%;}
    .logo {width: 33%;}
}
@media (min-width: 1300px) and (max-width: 1549px) {
    * { font-size: 11pt; }
    .container { margin-left: 5%; min-width: 95%;}
    .logo {width: 32%;}
}
@media (min-width: 1151px) and (max-width: 1299px) {
    * { font-size: 11pt; }
    .container { margin-left: 10%; min-width: 90%;}
    .logo {width: 32%;}
}
@media (min-width: 976px) and (max-width: 1150px) {
    * { font-size: 10pt; }
    .container { margin-left: 15%; min-width: 85%;}
    .logo {width: 31%;}
}
@media (min-width: 801px) and (max-width: 975px) {
    * { font-size: 10pt; }
    .container { margin-left: 5%; min-width: 95%;}
    .logo {width: 31%;}
}
@media (min-width: 601px) and (max-width: 800px) {
    * { font-size: 9pt; }
    .container { margin-left: 0px; min-width: 100%;}
    .logo {width: 30%;}
}
@media (min-width: 401px) and (max-width: 600px) {
    * { font-size: 9pt; }
    .container { margin-left: 0px; min-width: 100%;}
    .logo {width: 29%;}
}
@media (max-width: 400px) {
    * { font-size: 8pt; }
    .container { margin-left: 5%; min-width: 95%;}
    mat-sidenav-content { margin-left: 0px; }
    .logo {width: 28%;}
}