<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="card">
  <div class="card-body">
    <form (submit)="onSubmit(form)" #form="ngForm" autocomplete="off">
      <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="servicio.formData._id">
      <h2>Cuentas X Pagar</h2><hr>

      <div class="form-group">
        <label for="idCxp">Código</label>
        <input type="text" name="idCxp" #idCxp="ngModel" ngModel="servicio.formData.idCxp" [(ngModel)]="servicio.cxpU" placeholder="Código de Cuentas X Pagar" class="form-control" required>
        <div class="validation-error" *ngIf="idCxp.invalid && idCxp.touched">Campo requerido</div>
      </div>

      <div class="form-group">
        <label for="idProv">No. Cliente</label>
        <select name="idProv" #idProv="ngModel" [(ngModel)]="servicio.formData.idProv" class="form-control">
          <option *ngFor="let provnte of provService.provM" value={{provnte.idProv}}>{{provnte.idProv}} - {{provnte.nomProv}}</option>
        </select>
      </div>

      <div class="form-group">
          <label for="fecCxp">Fecha</label>
          <input type="date" name="fecCxp" #fecCxp="ngModel" [(ngModel)]="servicio.formData.fecCxp" class="form-control" placeholder="dd-MM-yyyy" min="2018-01-01" max="2023-12-31" required />
      </div>

      <div class="form-group">
        <label for="nfcCxp">No. de Factura</label>
        <input type="text" name="nfcCxp" #nfcCxp="ngModel" [(ngModel)]="servicio.formData.nfcCxp" placeholder="No. de Factura del Movimiento" class="form-control" required>
        <div class="validation-error" *ngIf="nfcCxp.invalid && nfcCxp.touched">Campo requerido</div>
      </div>

      <div class="form-group">
        <label for="mtoCxp">Monto</label>
        <input type="text" name="mtoCxp" #mtoCxp="ngModel" [(ngModel)]="servicio.formData.mtoCxp" placeholder="Monto del Movimiento" class="form-control" required>
        <div class="validation-error" *ngIf="mtoCxp.invalid && mtoCxp.touched">Campo requerido</div>
      </div>

      <div class="form-group">
        <label for="staCxp">Estatus &nbsp;</label>
        <input type="checkbox" [checked]="staCxp" name="staCxp" #staCxp="ngModel" [(ngModel)]="servicio.formData.staCxp">
      </div>
      <div class="form-group-addon">
        <div class="row">
          <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-block col-md-4">
            {{ TextoBtn }}
          </button>
          <button [disabled]="form.invalid" class="btn btn-primary btn-block col-md-4" (click)="refresca()">
            Limpiar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
<div class="col-md-7">
  <table class="table">
    <thead>
      <tr class="prim">
        <th>Codigo</th>
        <th>Proveedor</th>
        <th>Fecha</th>
        <th>Factura</th>
        <th>Monto</th>
        <th>Estatus</th>
        <th><i class="fa fa-trash"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cxp of servicio.cxpM" (click)="getCxp(cxp._id)" title="Presione con el mouse para editar">
        <td> {{cxp.idCxp}} </td>
        <td> {{cxp.idProv}} </td>
        <td> {{ cxp.fecCxp | date: 'dd/mm/yyyy' }} </td>
        <td> {{cxp.nfcCxp}} </td>
        <td> {{cxp.mtoCxp}} </td>
        <td>
          <input type="checkbox" [checked]="cxp.staCxp">
        </td>
        <td>
          <button class="btn btn-danger" (click)="eliCxp(cxp._id)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>