<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <form (submit)="onSubmit(form)" #form="ngForm" autocomplete="off">
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="servicio.formData._id">
            <h2>Almacenes</h2><hr>
            <div class="form-group">
              <label for="idAlm">Código</label>
              <input type="text" name="idAlm" #idAlm="ngModel" ngModel="servicio.formData.idAlm" [(ngModel)]="servicio.almacU" readonly="readonly" class="form-control" required>
              <div class="validation-error" *ngIf="idAlm.invalid && idAlm.touched">Campo requerido</div>
            </div>
            <div class="form-group">
              <label for="dscAlm">Descripción</label>
              <input type="text" name="dscAlm" #dscAlm="ngModel" [(ngModel)]="servicio.formData.dscAlm" placeholder="Descripción del Almacen" class="form-control" required>
              <div class="validation-error" *ngIf="dscAlm.invalid && dscAlm.touched">Campo requerido</div>
            </div>

            <div class="form-group">
                <label for="staAlm">Estatus &nbsp;</label>
                <input type="checkbox" [checked]="staAlm" name="staAlm" #staAlm="ngModel" [(ngModel)]="servicio.formData.staAlm">
              </div>
              <div class="form-group-addon">
                <div class="row">
                  <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-block col-md-4">
                    {{ TextoBtn }}
                  </button>
                  <button [disabled]="form.invalid" class="btn btn-primary btn-block col-md-4" (click)="refresca()">
                    Limpiar
                  </button>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <table class="table table-bordered table-hover">
        <thead>
          <tr class="prim">
            <th>Codigo</th>
            <th>Descripción</th>
            <th>Estatus</th>
            <th><i class="fa fa-trash"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let almacen of servicio.almacenM" (click)="getAlmacen(almacen._id)" title="Presione con el mouse para editar">
            <td> {{almacen.idAlm}} </td>
            <td> {{almacen.dscAlm}} </td>
            <td>
              <input type="checkbox" [checked]="almacen.staAlm">
            </td>
            <td>
              <button class="btn btn-danger" (click)="eliAlmacen(almacen._id)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>